*{
	margin: 0px;
	padding: 0px;
	list-style:none;
}

body {
    font: normal 12px/1.5 "Helvetica Neue","Hiragino Sans GB","Segoe UI","Microsoft Yahei","微软雅黑",Tahoma,Arial,STHeiti,sans-serif;
    color: #333;
    background: #f8f8f8;
    min-width: 1190px;
}
.first{
    width:100%;
    height: auto;
    border-bottom: 1px solid #dddddd;
    background:#fff;
}

.top-bar{
	position: relative;
	height: 20px;
	width: 1190px;
	margin-right: auto;
	margin-left: auto;

}

.tb-left{
	float:left;
	width: 250px;
	overflow: hidden;

}

.tb-left li{
	float: left;
	
	font-size: 12px;


}
.tb-left a{
	text-decoration: none;
	color:#666666;


}
.tb-left a:hover{
	text-decoration: underline;
}
.tb-left span{
	display: inline-block;
	margin-left: 10px;
	margin-right: 7px;
	color:#ededed;


}
.tb-right{
	float: right;


}
.tb-right li{
	float: left;
	color: #666666;
	font-size: 12px;

}
.tb-right span{
	display: inline-block;
	margin-left: 10px;
	color:#ededed;


}

.tb-right a{
	text-decoration: none;
	color:#666666;
}

.tb-right a:hover{
	text-decoration: underline;
}
 /* <!-- 导航栏 --> */

  .second{
    height: 70px;
    width:100%;
    background:#fff; 
    border:1px solid #dddddd;
    box-shadow: 0 3px 1px #ededed;
 }

.nav-bar{
	width: 1190px;
	margin-right: auto;
	margin-left: auto;
	height: 70px;
}
 .nav-bar h1{
 	display:inline-block;
 	height: 69px;
 	width: 180px;
 	float: left;
 	margin-right: 50px;

} 

.nav-bar ul{

}

.nav-bar ul li{
	float:left;
	
}
.nav-bar ul li a {
    display: inline-block;
    line-height: 66px;
    padding: 0 20px;
    font-size: 16px;
    color: #333;
    position: relative;
    font-weight: 200;
    text-decoration:none;
}
#san{
    color:#f60;
	border-bottom: 3px solid #f60;
	z-index: 2;
}

#san:hover{
	text-decoration:none;
}

.nav-bar ul li a:hover{
	text-decoration:underline;
}

/* 头部图片 */

.top-pic{
	width: 1190px;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 30px;
	margin-top: 20px;
}

.fang{
	width: 192px;
    height: 51px;
    position: absolute;
    background: #ff9900;
    border: 2px solid #ff9900;
    display: inline-block;
    font-size: 18px;
    color: #fff;
    text-align: center;
    line-height: 51px;
    text-decoration: none;
    margin-top: -120px;
    margin-left: 949px;
}


/* 主要内容 */
.content{
	width: 1190px;
	margin: 0px auto;
	overflow: hidden; 
}

.content-left{
	position: relative;
	width: 862px;
	height:auto;
	float: left;

}
.content-left h5{
	border-bottom: 1px solid #ddd;
    font-size: 18px;
    padding-bottom: 9px;
    margin-bottom: 20px;
    font-weight: 500;

}
.content-left h5 span{
	display: inline-block;
    width: 20px;
    height: 20px;
    position: relative;
    top: 4px;
    line-height: 1;
    background: url(../images/i-ico.png) 40px 40px;
}
.cl-di{
	position: relative;
	width:  862px;
}

.cl-di li{
	width: 270px;
	height: 356px;
	border: 2px solid #ddd;
	float: left;
	margin-bottom: 30px;
	background: #fff;
}
.cl-di li:hover{
	box-shadow: 0 4px 4px 0 rgba(0,0,0,.19);


}
.byy{
	margin-left: 20px;
	margin-right: 20px;
}



.cl-shang{
	width: 270px;
	height: 52px;
}

.cl-shang span{
	display: inline-block;
	color: #666;
	margin-left: 70px;
	margin-top: 10px;
    margin-bottom: 10px;

}
.cl-shang span i{
	display: inline-block;
    width: 20px;
    height: 20px;
    position: relative;
    top: 5px;
    background: url(../images/i-ico.png) 20px 40px;

}

.cl-shang a{
	display: inline-block;
	font-size: 14px;
    color: #333;
    text-decoration: none;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    word-wrap: break-word;
   text-overflow: ellipsis;
    overflow: hidden;
    text-align: center;

}

.cl-shang a:hover{
	text-decoration: underline;
}






/* 右边 */
.content-right{
	width: 300px;
	float: right;

}
.content-right h5{
	border-bottom: 1px solid #ddd;
    font-size: 18px;
    padding-bottom: 9px;
    margin-bottom: 20px;
    font-weight: 500;
}
.content-right img{
	margin-bottom: 20px;
}



 /* 下边页码 */
.xma{
	overflow:hidden;
	color: #333;
	width: 862px;
	margin-right: auto;
	margin-left: auto;
}




 .ssy{
	display: inline-block;
    width: 55px;
    height: 25px;
    background: #f9f9f9;
    border: 1px solid #ddd;
    color: #666;
    text-align: center;
    text-decoration: none;
    line-height: 25px;
    cursor: default;
    margin-right:10px;
    float: left;

}

.paixu {
	display:inline-block;
	background: #fff;
	font-size:14px;
	width:25px;
	height: 25px;
	float: left;
	border: 1px solid #ddd; 
	margin-right:10px;
	text-align:center;
	text-decoration:none;
	color: #333;
	right:0px;

}

 .paixu:hover {
    border: 1px solid #ff6500;
    color: #ff6500;
    text-decoration: none;
}

.xwy{
	display: inline-block;
    width: 55px;
    height: 25px;
    border: 1px solid #ddd;
    color: #666;
    text-align: center;
    text-decoration: none;
    line-height: 25px;
    margin-right: 10px;
    float: left;

}

 .xwy:hover {
    border: 1px solid #ff6500;
    color: #ff6500;
    text-decoration: none;
}















/* // */ 
.footer{
	width: 1190px;
	margin-right: auto;
	margin-left: auto;
	height: 40px;
	margin-top: 18px;
	border-top:1px solid #dddddd;
} 

.footer-top{
	height: 15px;
	position: relative;
	color: #666;
	font-size: 12px;

}
.footer-top a{
	display: inline-block;
	color: #666;
	text-decoration: none;
	padding-right: 10px

}
.footer-top span{
	color: #666;
}
.footer-top a:hover{
	text-decoration: underline;
}

.banjia{
	display: inline-block;
	height: 15px;
	width: 380px;
	font-size: 12px;
	color: #666;
	margin-top: 10px;
}
.banjia span a{
	text-decoration: none;
	font-size: 12px;
	color: #666;
	cursor: pointer;

}
.banjia span a:hover{
	text-decoration: underline;
}